.Comments
  &__title
    margin-bottom vw(30)
  &__item
    margin-bottom vw(25)
  &__col
    display inline-block
    vertical-align top
    padding-right vw(30)
    box-sizing border-box
    width 25%
    &:last-child
      padding-right 0
      width 75%
  &__text
    margin 0 0 vw(5)
  &__form
    padding-top vw(30)
  &__field
    display block
    width 100%
    overflow hidden
    padding vw(10) 0
    border none
    border-bottom vw(3) solid $black
    outline none
    resize none
    min-height vw(35)
    