.Select
  position relative
  overflow hidden
  &-label
    font-size 53px
    line-height 95px
    border-bottom 2px solid $white
    font-weight normal
    margin 0
    display block
    width 100%
    color inherit
    padding-right 55px
    box-sizing border-box
    white-space nowrap
    @media $large
      padding-right 80px
      font-size vw(62)
      line-height vw(95)
      border-bottom vw(3) solid $white
  &__submit
    font-size 53px
    line-height 97px
    position absolute
    right 0
    top 0
    color inherit
    @media $large
      font-size vw(62)
      line-height vw(98) // base line-height + border
  &-list
    overflow-y scroll
    overflow-x hidden
    margin-right -30px
  &-scroll
    position relative
    display block
    padding 0
    padding-right 30px
    margin 0
  &-item
    display block
    font-size 53px
    line-height 95px
    @media $large
      font-size vw(62)
      line-height vw(95)
    