.Textarea
  display block
  width 100%
  padding 10px 0
  border none
  overflow hidden
  border-bottom vw(3) solid $white
  outline none
  resize none
  color $white
  @media $large
    padding vw(10) 0
  &::placeholder
    color inherit
    opacity 0.4