@import './contacts'
@import './founds'
@import './home'
@import './home'
@import './news'
@import './partners'
@import './persons'
@import './search'
@import './signin'
@import './article'
@import './notfound'
@import './about'