.About
  margin-top -80px
  @media $large
    margin-top 0
  &__caption
    margin-bottom vw(150)
    &:last-child
      margin-bottom 0
    &_last
      margin-bottom vw(50)
  &__list
    position absolute
    top vw(300)
    right vw(50)
    left 0
  &__item
    font-size vw(30)
    margin-top vw(40)
    will-change opacity
    transition opacity 200ms ease
    opacity 0.2
    &:first-of-type
      margin-top 0
    &_current
      opacity 1.0
  &__step-list
    margin 0 vw(-25)
  &__step
    display inline-block
    box-sizing border-box
    width 50%
    vertical-align top
    margin-bottom vw(50)
    padding 0 vw(25)