.Contacts
  padding 0 20px
  @media $medium
    padding 0 30px
  @media $large
    padding 0
    
.Contacts__title
  margin-bottom 40px
  @media $large
    width calc(50% - 1.8301610542%)
    margin-bottom vw(40)
    
.Row.Contacs__Row
  display block
  margin 0
  @media $medium
    margin 0 vw(-25)
    display flex
  
.Contacts__col
  width 100%
  @media $medium
    margin 0 vw(25)
    width 50%
  
.Contacts__row
  width 90%
  @media $large
    width 50%
  &:first-of-type
    margin-bottom 1em
    
.Contacts__text
  margin-bottom 40px
  @media $large
    width vw(410)
    margin-bottom vw(20)