.Founds
  padding 0 20px
  @media $medium
    padding 0 30px
  @media $large
    padding 0

.Founds__item
  display block
  font-size 0
  will-change color
  transition color 160ms ease 
  margin-bottom vw(60) 
  ._light &
    +Tap()
      color $black 

.Founds__Link
  margin-bottom 40px
  @media $large
    margin-bottom vw(40)

.Founds__total
  display inline-block
  vertical-align top
  
.Sidebar
  color $white
  position relative
  background-color $orange
  padding 80px 0 50px
  min-height 50vh
  @media $large
    min-height none
    padding 0
    background-color transparent
    position fixed
    height 100vh
    top 0
    bottom 0
    box-sizing border-box
    width calc(48.1698389458% - 2.9282576867vw)
  &_person
    padding 0
  &_absolute
    z-index 0
    @media $large
      position absolute
  &__body
    position relative
    max-width 710px
    margin auto
    padding 0 20px
    @media $medium
      padding 0 30px
    @media $large
      position static
      max-width none
      padding 0
  &__head
    max-width 710px
    margin auto
    z-index 1
    padding 0 20px
    margin-bottom 15vh
    @media $medium
      padding 0 30px
      margin-bottom 25vh
    @media $large
      width auto
      position absolute
      max-width none
      padding 0
      left 0
      right vw(50)
      top vw(100)
      bottom auto
      .About &
        top vw(150)
    &_bottom
      width 100%
      max-width 710px
      margin auto
      top auto
      left 0
      right 0
      bottom 25px
      margin-bottom 0
      position absolute
      @media $medium
        bottom 50px
      @media $large
        width auto
        bottom vw(100)
        right vw(50)
  &__bg
    max-width 710px
    margin auto
    padding-top 80px
    @media $large
      max-width none
      position absolute
      width 100%
      top 50%
      transform translate3d(0, -50%, 0)
      box-sizing border-box
      padding-right vw(50)
      padding-top vw(100)
    &-img
      display block
      width 100%
      max-width 710px
      margin auto
      @media $large
        max-width none
    &-overlay
      position absolute
      left 0
      right 0
      bottom 0
      height 250px
      background linear-gradient(to top, $orange 0%, alpha($orange, 60%) 60%, alpha($orange, 0%) 100%)
      @media $large
        right vw(50)
        height vw(250)
  &__footer
    max-width 710px
    padding 0 20px
    margin auto
    @media $medium
      padding 0 30px
      display block
      display flex
      align-items flex-end
      justify-content space-between
    @media $large
      position absolute
      padding 0
      top auto
      left 0
      right vw(50)
      bottom vw(30)
      max-width none
    &_person
      display none
      @media $medium
        display block
        position absolute
        right 0
        top 100px
        width 200px
        padding 0
      @media $large
        width auto
        position absolute
        padding 0
        top auto
        left 0
        right vw(50)
        bottom vw(30)
        display flex
        align-items flex-end
        justify-content space-between
  &__getlinks
    margin-bottom 20px
    @media $medium
      margin-bottom 0
    @media $large
      max-width 40%
    &_person
      @media $medium
        margin-bottom 20px
      @media $large
        margin-bottom 0
  &__share
    margin-bottom 25px
    @media $medium
      margin-bottom 0
    &_absolute
      position absolute
      top vw(100)
    &_button
      top 100px
      text-align left
      color $white
      transition color 160ms ease
      +Tap()
        color $black
  &__logo
    @media $medium
      margin-bottom 0
  &__logo-img
    margin-bottom vw(10)
    img
      display block
      width 125px
  
.Main
  padding 50px 20px 0
  max-width 710px
  margin auto
  @media $medium
    padding 50px 30px 0
  @media $large
    max-width none
    padding 0
    margin 0 0 0 calc(50% + 1.8301610542vw)    
  &__top
    margin-bottom 50px
    @media $medium
      margin-bottom 100px
    @media $large
      margin-bottom vw(90)
      padding-top vw(20)
  &__auction 
    margin-bottom 50px
    @media $medium
      margin-bottom 100px
    @media $large
      margin-bottom 0
  &__lots-list
    @media $medium
      margin-left -20px
      max-width 75%
    @media $large
      padding-bottom vw(50)
      margin-left vw(-25)
    &_no-pading
      padding-bottom 0
      margin-bottom vw(-30)
    &_complete
      @media $large
        padding-bottom 0
  &__title
    margin-bottom 15px
    @media $large
      margin-bottom vw(30)
  &__description
    padding 30px 0
    @media $large
      padding vw(60) 0
    a
      color $orange
      will-change color
      transition color 160ms ease
      .Mouse &:hover,
      &:active
        color $black
  &__founds-list
    padding 0 0 25px
    &_top-gap
      padding-top 25px
  &__members-list
    padding vw(30) 0 0
  &__members-item,
  &__founds-item
    display flex
    @media $large
      margin-bottom vw(5)
    &.Orange
      color $orange
  &__members-price,
  &__founds-price
    flex 0 0 125px
    display block
    margin-right 15px
    @media $large
      margin-right vw(20)
      flex 0 0 vw(150)
  &__founds-button
    margin-top 30px
    @media $large
      margin-top vw(30)
  &__founds-name
    display block
  &__members-button
    margin-top vw(15)
  &__founds-control
    display flex
    align-items center
    margin-bottom 50px
    @media $large
      margin-bottom vw(50)
  &__control
    margin-right 15px
    @media $large
      margin-right vw(20)