.Home__section
  margin-bottom 60px
  @media $medium
    margin-bottom vw(100)
  &:last-of-type
    margin-bottom 0

.Home__persons
  font-size 0

.Home__persons-list
  padding 0 20px
  margin-bottom -30px
  @media $medium
    padding 0 10px
    margin-bottom 0
  @media $large
    padding 0 vw(15)
    margin-bottom 0
  &_special
    background-color $orange
    padding-left 20px
    padding-right 20px
    @media $medium
      padding 0 10px
    @media $large
      padding-left vw(15)
      padding-right vw(15)
  
.Home__more
  padding-top 30px
  text-align center
  @media $medium
    padding-top vw(60)

.Home__news-link
  display block

.Home__founds
  padding 0 20px
  @media $medium
    padding 0 30px
  @media $large
    padding 0
  &-caption
    margin-bottom 30px
    font-size 32px
    line-height 1.2
    @media $medium
      margin-bottom vw(60)
      font-size vw(62)

  
.Home__news
  &-grid
    padding 0 20px
    @media $medium
      margin 0 -20px
      padding 0 30px
      display flex
      flex-wrap wrap
    @media $large
      margin 0 vw(-25)
      padding 0
  &-item
    box-sizing border-box
    margin-bottom 40px
    @media $medium
      padding 0 20px
      width 50%
      display flex
    @media $large
      margin-bottom vw(80)
      padding 0 vw(25)
    &:last-child
      margin-bottom 0
    &:nth-child(n + 3)
      @media $medium
        margin-bottom 0
  &-date
    display block
    margin-bottom vw(5)
    color $black
    
.Home__partners
  overflow hidden
  position relative
  &::before
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    width 40px
    background linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0.01) 100%)
    z-index 2
    @media $medium
      width 5%
  &::after
    content ''
    position absolute
    right 0
    top 0
    bottom 0
    width 40px
    background linear-gradient(to left, #fff 50%, rgba(255, 255, 255, 0.01) 100%)
    z-index 2
    @media $medium
      width 5%
  &-scroll
    overflow scroll
    -webkit-overflow-scrolling touch
    position relative
    z-index 1
    margin-bottom -30px !important
  &-list
    white-space nowrap
    position relative
    font-size 0
    text-align center
    padding-bottom 30px
  &-item
    display inline-block
    vertical-align middle
    margin 0 20px
    &:first-of-type
      margin-left 20px
      @media $medium
        margin-left 30px
      @media $large
        margin-left vw(40)
    &:last-of-type
      margin-right 20px
      @media $medium
        margin-right 30px
      @media $large
        margin-right vw(40)