.NotFound
  margin-top 50px
  @media $medium
    margin-top 0
  &__head
    line-height 1
    margin 0 0 25px
    text-align center
    font-size 160px
    @media $medium
      font-size 300px
      margin 0 0 25px
    @media $large
      margin 0 0 vw(25)
      font-size vw(360)
  &__caption
    text-align center
    margin 0
    font-size 25px
    @media $medium
      font-size 50px
    @media $large
      font-size vw(50)