.Persons
  &__header
    margin-bottom 80px
    padding 0 20px
    @media $medium
      padding 0 30px
    @media $large
      padding 0
      margin-bottom vw(90)
      width vw(950)
  &__section
    margin-bottom vw(80)
    &:last-of-type
      margin-bottom 0
  &__title
    margin-bottom 20px
    padding 0 20px
    @media $medium
      padding 0 30px
    @media $large
      padding 0
      margin-bottom vw(20)
  &__list
    padding 0 20px
    font-size 0
    @media $medium
      padding 0 10px
    @media $large
      padding 0
      margin 0 vw(-25)
  &__Link_active
    color $orange
  &__more
    padding-top 0
    text-align center
    padding-top 30px
    @media $medium
      padding-top vw(60)

.Members
  &__header
    margin-bottom 80px
    padding 0 20px
    @media $medium
      padding 0 30px
    @media $large
      padding 0
      margin-bottom vw(90)
      width vw(950)
  &__section
    margin-bottom vw(80)
    &:last-of-type
      margin-bottom 0
  &__list
    padding 0 20px
    @media $medium
      padding 0 10px
    @media $large
      padding 0
      margin 0 vw(-25)  
  &__Link_active
    color $black
  &__more
    padding-top 0
    text-align center
    padding-top 30px
    @media $medium
      padding-top vw(60)